@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr;
    grid-template-rows: 1fr 4fr;  
}
/* Start of CSS for the header */
.header {
    background-color: #f1f5f9;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.top-line {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.search {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    padding-left: 10%;
    gap: 2%;
}
.searchButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    padding-top: 1%;
}
.searchButton img {
    width: 25px;
    height: auto;
}
.search input {
    width: 70%;
    background-color: #cbd5e1;
    border: 0;
    border-radius: 40px;
}
.top-info {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bell {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    padding-top: 1%;
}
.bell img {
    width: 25px;
    height: auto;
}
.topImage img {
    width: 30px;   
}
.bottom-line {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.bottom-line .left {
    display: flex;
    align-items: center;
    gap: 15%;
    padding-left: 15%;
}
.bottomImage img {
    width: 60px;
}
.left p {
    line-height: 0.5;
}
.bottom-line .right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 10%;
}
.bottom-line .right button {
    width: 25%;
    background-color: #0284c7;
    border: 0;
    color: white;
    border-radius: 15px;
    height: 45%;
}
#larger {
    font-weight: 700;
    font-size: larger;
}
#smaller {
    font-size: x-small; 
}
.nameTag {
    display: flex;
    align-items: end;
    gap: 10px;
}
/* End of CSS for the header */

/* Start of CSS for the sidebar */
.sidebar {
    background-color: #0284c7;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 3fr 2fr 3fr;
    grid-template-columns: 30% 70%;
    color: white;
    font-weight: 700;
}
.logo {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    
}
.dash {
    margin-top: 30px;
}
.first-links {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    
}
.second-links {
    grid-row: 3 / 4; 
    grid-column: 2 / 3;  
}




/* End of CSS for the sidebar */

/* start of CSS for project section */
.projects {
    background-color: #cbd5e1;
    
}
.boxes {
    width: 85%;
    height: 80%;
    padding-bottom: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 10%;
    grid-gap: 20px;
}
.box p {
    font-weight: 200;
    
}
.projects #header {
    padding-left: 10%;
    font-weight: bold;
}
.box {
    border-radius: 15px;
    background-color: white;
    padding-left: 5%;
    padding-top: 2%;
    border-left: 15px solid #eab308;
}
/* end of CSS for project section */
/* start of CSS for announcement/trending side bar */
.announce-trend {
    background-color: #cbd5e1;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    

}
#ann-header {
    padding-top: 4%;
    padding-bottom: 8%;
    font-weight: 600;
}
.announcements {
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}
.ann-display {
    height: 90%;
    width: 80%;
    background-color: white; 
    display: grid;
    border-radius: 10px;
    grid-template-rows: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
    font-size: small;
    color: gray;
}
.ann-display #topRow {
    grid-row: 1 / 2;
    border-bottom: 1px solid black;
    
}
.ann-display #midRow {
    grid-row: 2 / 3;
    border-bottom: 1px solid black;
}
.ann-display #thirdRow {
    grid-row: 3 / 4;
}
.ann-display strong {
    color: black;
}
.trending {
    width: 80%;
    padding-left: 10%;
}
#trend-header {
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 500;
}

.trend-display {
    height: 70%;
    width: 80%;
    background-color: white; 
    display: grid;
    border-radius: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 3.5fr;
    font-size: small;
    color: gray;
}
.trend-display div {
    text-align: left;
    margin-left: 10%;
    grid-column: 2 / 3;
}
.cow {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 40px;
    align-self: center;
    padding-left: 20%;  
}
.duck {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 40px;
    align-self: center;
    padding-left: 20%; 
}
.rabbit {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 40px;
    align-self: center;
    padding-left: 20%; 
}
.snail {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 40px;
    align-self: center;
    padding-left: 20%; 
}
.trend-display strong {
    color: black;
}
/* end of CSS for accouncement/trending sidebar*/
